@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  background-color: #464c51 !important;
  color: #b7b7b7 !important;
}

a {
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  text-decoration: none !important;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.mobile-navigation-bar {
  display: none;
}

header {
}
header > section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header > section > img {
  border: solid 1px #ffffff;
  margin-right: 2rem;
  min-width: 120px;
  min-height: 40px;
}
header > section > nav {
  width: 100%;
}
header > section > nav {
  display: flex;
  flex-direction: row;
}
header > section > nav > a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.85);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 18px 17px;
  height: 56px;
  transition: background 350ms ease 0s, color 350ms ease 0s,
    border-color 350ms ease 0s;
}
header > section > nav > a:hover {
  background: #ac2622;
  color: #fff;
}
header > section > nav > .active {
  background: #ac2622;
  color: #fff;
}

main {
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.footer > .maps {
  width: 100%;
  height: 500px;
  border: 0;
}

.footer > .footer-info {
  width: 100%;
  padding: 3rem 0;
}
.footer-info-msg {
  font-style: italic;
}

.footer-info-buttons {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-info-buttons > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.footer-info-buttons > a > h6 {
  font-size: 24px;
}
.footer-info-buttons > a:hover {
  color: #ac2622;
}

.footer > .footer-bottom {
  width: 100%;
  padding: 25px 0px;
  color: #d8d8d9;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
}
.footer > .footer-bottom > a {
  font-size: 13px;
  color: #d8d8d9;
  line-height: 1.75;
}
.footer > .footer-bottom > a:hover {
  color: #ac2622;
}

.services {
  width: 100%;
  height: auto;
  padding: 110px 0px;
}
.services > .container {
  text-align: center;
}
.services > .container > h3 {
  font-size: 1.875em;
  line-height: 1.3;
  font-weight: 400;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.services > .container > p {
  margin: 0 0 18px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  margin: 2.5rem 0;
}
.services > .container > .services-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.services > .container > .services-wrapper > .services-wrap {
  background-size: cover;
  min-height: 300px;
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid 1px #3e4348;
}
.services > .container > .services-wrapper > .services-wrap > section {
  width: 100%;
  height: auto;
  background-color: rgba(70, 76, 81, 0.7);
  padding: 1rem;
  cursor: pointer;
}
.services > .container > .services-wrapper > .services-wrap > section:hover {
  height: 100%;
  background-color: rgba(70, 76, 81, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services > .container > .services-wrapper > .services-wrap > section > span {
  color: #fff;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 8px;
  text-decoration: none;
}
.services > .container > .services-wrapper > .services-wrap > section > p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  margin-top: 1rem;
  display: none;
}

.services > .container > .services-wrapper > .services-wrap > section:hover {
  border: solid 1px #ac2622;
}
.services
  > .container
  > .services-wrapper
  > .services-wrap
  > section:hover
  > p {
  display: block;
}

.image-banner {
  width: 100%;
  height: auto;
  background-image: url("./images/image-banner-photo.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
.image-banner-content {
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background: rgba(70, 76, 81, 0.9);
  color: #fff;
}
.image-banner-content > .container {
  text-align: center;
}
.image-banner-content > .container > h4 {
  margin: 15px 0;
  font-weight: 300;
  font-size: 21px;
}
.image-banner-content > .container > h3 {
  font-weight: 600;
  font-size: 1.875em;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 15px 0;
}
.image-banner-content > .container > a {
  min-width: 160px;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.4;
  padding: 12px 20px;
  font-weight: 600;
  color: #464c51;
}
.image-banner-content > .container > a:hover {
  background: #ac2622;
  color: #fff;
}

.answers {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.answers > .container {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
}

.answers > .container > h4 {
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 0.875em;
  color: #efefef;
}

.answers-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}

.answers-head-left {
  flex: 1;
  padding-right: 30px;
}
.answers-head-left > h3 {
  font-size: 2.5em;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0 0 18px;
  color: #ffffff;
}
.answers-head-left > p {
  display: inline-block;
  margin: 0 0 18px;
  color: #b7b7b7;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}
.answers-head-left > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: 0px auto;
  margin-top: 50px;
  border: solid 1px #3e4348;
  padding: 2rem;
}
.answers-head-left > section > section {
  flex: 1;
}

.answers-head-left > section > section > h5 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  font-size: 1.25em;
  margin-bottom: 1rem;
  text-align: center;
  color: #efefef;
}
.answers-head-left > section > section > ul {
  list-style-type: none;
}
.answers-head-left > section > section > ul > li {
  padding-left: 28px;
  margin-bottom: 1rem;
  position: relative;
}

.answers-head-left > section > section > ul > li:before {
  font-family: FontAwesome;
  color: #ac2622;
  position: absolute;
  left: 1px;
  content: "✔";
  font-size: 18px;
  line-height: 18px;
  top: 4px;
}

.answers-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.answers-footer > section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #3e4348;
}
.answers-footer > section > label {
  width: 60px;
  height: 60px;
  background-color: #ac2622;
  border-radius: 100%;
  margin: 2px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answers-footer > section > label > i {
  font-size: 150%;
}

.answers-footer > section > span {
  margin-top: 20px;
  font-size: 1.25em;
  margin-bottom: 12px;
  font-weight: 300;
  color: #efefef;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}
.answers-footer > section > p {
}

.slider {
  width: 100%;
  height: 620px;
}
.carousel {
  width: 100%;
  height: 100%;
}
.carousel > .carousel-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel > .carousel-inner > .carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}

.slider-bootstrap-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-bootstrap-content > .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider-bootstrap-content > .container > h2 {
  width: auto;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
  margin: 0px auto;
}

.slider-bootstrap-content > .container > p {
  width: 550px;
  font-size: 24px;
  line-height: 1.4;
  margin: 10px 0px;
  margin-bottom: 20px;
}

.whatsapp-icon {
  border-radius: 100%;
  bottom: 0.5rem;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 0.5rem;
  width: 50px;
  z-index: 9999;
}
.whatsapp-icon > img {
  max-width: 100%;
  max-height: 100%;
}

header > section > button {
  display: none;
  background: none;
  border: solid 1px #3e4348;
  padding: 5px;
  font-size: 24px;
}
header > section > button > i {
  color: #ac2622;
}
header .header-navigation-nav {
  display: none;
}

main{
  margin-top: 55px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 55px;
  background-color: #464c51;
  margin-bottom: 55px;
}

@media screen and (max-width: 992px) {

  header .desktop-nav {
    display: none;
  }
  header > section {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header > section > button {
    display: inline-flex;
    z-index: 99;
  }
  .header-navigation-nav-hide {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #464c51;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .slider {
    width: 100%;
    height: 300px;
  }
  .carousel {
  }
  .carousel > .carousel-inner {
  }
  .carousel > .carousel-inner > .carousel-item {
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: auto !important;
    padding: 0.2rem !important;
  }

  .slider .carousel-control-next-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
  .slider .carousel-control-prev-icon {
    width: 1.1rem;
    height: 1.1rem;
  }

  .slider-bootstrap-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slider-bootstrap-content > .container {

  }

  .slider-bootstrap-content > .container > h2 {
    width: 100%;
    font-size: 1.75em;
  }

  .slider-bootstrap-content > .container > p {
    width: 100%;
    font-size: 12px;
  }

  .answers {
  }
  .answers > .container {
    padding: 50px 1rem;
  }
  .answers > .container > .answers-head {
    width: 100%;
    flex-direction: column;
  }

  .answers-head {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .answers-head-left {
    flex: 1;
    padding-right: 0px;
  }
  .answers-head-left > h3 {
  }
  .answers-head-left > p {
  }
  .answers-head-left > section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    width: 100%;
  }
  .answers-head-left > section {
    width: 100%;
    padding: 2rem;
    gap: 0rem;
  }
  .answers-head-left > section > section {
    width: 100%;
    padding: 0rem;
  }
  .answers-head-left > section > section:last-child {
    padding-top: 2rem;
  }
  .answers-head-left > section > section > ul {
    padding-left: 0rem;
  }

  .answers-footer {
    display: flex;
    flex-direction: column;
  }

  .image-banner-content {
    width: 100%;
    height: 100%;
    padding: 50px 0;
  }
  .image-banner-content > .container {
    text-align: center;
  }
  .image-banner-content > .container > h4 {
    font-size: 16px;
  }
  .image-banner-content > .container > h3 {
    font-size: 1.5em;
  }

  .services {
    padding: 50px 0px;
  }
  .services > .container > .services-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .footer-info {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
  }
  .footer-info > .footer-info-msg {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 100%;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer > .footer-info {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
  }

  .footer-info-buttons {
    width: 100%;
    padding-top: 2rem;
    border: 0px;
    display: flex;
    flex-direction: column;
  }
  .footer-info-buttons > a {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .footer-info-buttons > a:first-child {
    margin-bottom: 2rem;
  }
}
